PORT=8000
NODE_ENV=production
APP_NAME=lost_and_found
CORS_ORIGINS=http://localhost:3000

API_KEY=your_api_key_here
APP_SECRET=your_app_secret_here

# AI Service Endpoint URL (e.g., http://localhost:5000 or https://your-ngrok-domain.ngrok-free.dev)
AI_SERVICE_URL=http://localhost:5000

JWT_SECRET=your_jwt_secret_here
JWT_EXPIRY=86400000
COOKIE_NAME=lost_and_found
COOKIE_SECRET=your_cookie_secret_here

PROD_DATABASE_URL=mongodb+srv://...
DEV_DATABASE_URL=mongodb+srv://...

CLOUDINARY_CLOUD_NAME=jnzheux0
CLOUDINARY_API_KEY=374161283792895
CLOUDINARY_API_SECRET=Ed-rGQg43YGgdpbJUsfY31iYG5Q

PAYMENT_SECRET_KEY=your_stripe_secret_key_here
